@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer utilities {
  .font-merienda {
    font-family: 'Merienda', cursive;
  }
  
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 923px) {
  .custom-923\:flex-row {
    flex-direction: row;
  }
  .custom-923\:items-center {
    align-items: center;
  }
  .custom-923\:justify-between {
    justify-content: space-between;
  }
  .custom-923\:text-left {
    text-align: left;
  }
  .custom-923\:mt-0 {
    margin-top: 0;
  }
}

